.profile__avatar-edit {
  position: absolute;
  top: 9px;
  margin: 0 auto;
  height: 120px;
  width: 120px;
  background-color: black;
  opacity: 0;
  transition: .2s;
}

.profile__avatar-edit:hover {
  transition: .2s;
  opacity: 0.8;
  cursor: pointer;
  background-image: url(../../../images/pensil.svg);
  background-size: 26px 26px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .profile__avatar-edit {
    top: 7px;
  }
}
