
.popup__close-button {
    padding: 0;
    margin: 0;
    background-image: url(../../../images/close_button.svg);
    background-color: unset;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 0;
    position: absolute;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    top: -36px;
    right: 0px;
    transition: .2s;
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: .2s;
  }
  @media screen and (min-width: 1024px) {
    .popup__close-button {
      background-size: 32px 32px;
      height: 32px;
      width: 32px;
      top: -40px;
      right: -40px;
    }
  }