.footer {
    margin: 0;
    padding: 51px 0 36px 19px;
  }
  
  @media screen and (min-width: 1024px) {
    .footer {
      width: 100%;
      max-width: 880px;
      margin: 0 auto;
      padding: 67px 0 60px;
    }
  }