.popup__input {
    max-width: 238px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: #000000;
    padding: 0 0 10px 0;
  }

  @media screen and (min-width: 1024px) {
    .popup__input {
      max-width: 358px;
    }
  }
