.cards__trash-button {
  padding: 0;
  margin: 0;
  background-image: url(../../../images/trash_button.svg);
  background-color: unset;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 0;
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  transition: .2s;
  display: none;
}

.cards__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: .2s;
}
/* @media screen and (min-width: 1024px) {
  .cards__trash-button {
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    top: -40px;
    right: -40px;
  }
} */
